.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/splash.jpg') no-repeat center center;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--bg-color) 100%);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(111, 29, 27, 0.6);
        z-index: 1; // Ensure the overlay is behind the content
    }

    .image-content {
        position: relative; // Position relative to allow z-index to work
        z-index: 2; // Ensure content is above the overlay
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(40px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        img {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            transition: transform 0.18s cubic-bezier(.4, 0, .2, 1);

            &:hover {
                animation: wiggle 0.45s cubic-bezier(.4, 0, .2, 1);
            }
        }

        @keyframes wiggle {
            0% {
                transform: rotate(0deg) scale(1);
            }

            15% {
                transform: rotate(-3deg) scale(1.01);
            }

            30% {
                transform: rotate(3deg) scale(1.01);
            }

            45% {
                transform: rotate(-2deg) scale(1.01);
            }

            60% {
                transform: rotate(2deg) scale(1.01);
            }

            75% {
                transform: rotate(-1deg) scale(1.00);
            }

            100% {
                transform: rotate(0deg) scale(1);
            }
        }

        .drop-quote {
            animation: fadeInUp 1.1s cubic-bezier(.4, 0, .2, 1) 0.1s both;
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 1rem;
            position: relative;
            padding: 0 0.7rem;
        }
    }

}