.uploader {
    display: flex;

    ul {
        li {
            button {
                background: none;
                border: none;
                cursor: pointer;

                &.danger {
                    color: var(--danger-color);
                }

                &.success {
                    color: var(--success-color);
                }
            }

            .reorder {
                button {
                    color: black;
                }
            }
        }
    }
}

.audio-uploader {
    ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 1rem 0;
        width: 100%;

        li {
            display: flex;
            align-items: flex-start;
            width: 100%;

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 5px;
                margin-right: 4px;
                flex-shrink: 0;
            }

            .text {
                flex: 1 1 0;
                text-align: left;
                align-self: center;
                font-size: 14px;
                color: black;
            }

            button {
                color: var(--background-color);
            }
        }
    }
}

.button-group {
    margin-top: 44px;
    // add 10px gap between buttons
    display: flex;
    gap: 10px;
    // vertical align buttons
    flex-direction: column;
}


.search-container {
    display: flex;
    align-items: center;
    gap: 0;

    input[type="text"],
    input[type="search"] {
        flex: 1 1 auto;
        border-radius: 15px 0 0 15px;
    }

    button {
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 0 15px 15px 0;
    }
}

.uploads {

    >* {
        margin: 2px;
    }

    ul {
        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
            row-gap: 4px;
            column-gap: 4px;
            padding: 4px;
            min-height: 100px;

            // alternate background color
            &:nth-child(even) {
                background-color: #e7e7e7;
            }

            .audio {
                width: 125px;
                padding: 4px;

                p {
                    text-align: left;
                    font-size: 0.6rem;
                    margin-bottom: 0;
                }

                img {
                    height: auto;
                    width: 100%;
                }

                button {
                    width: auto;
                    background-color: green;
                    color: white;
                    height: auto;
                }
            }

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }

            span,
            input[type="text"] {
                // fill the space
                flex: 1;
            }

            button {
                width: 44px;
                height: 44px;
            }

            .editing {
                width: 100%;

                .cropper-container {
                    display: inline-block;
                    box-sizing: content-box;
                    padding: 1rem;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }

                input[type="text"] {
                    margin-bottom: 4px;
                }

                .actions,
                .cropper-actions,
                .drawing-controls {
                    button {
                        background-color: black;
                        color: white;
                        width: auto;
                    }
                }
            }
        }
    }
}