.scores {
    .pagination {
        // align in a horizontal line with 4px gap

        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        margin: 10px 0;
        padding: 0;
        flex-direction: row;
        align-items: center;
        list-style: none;

        button {
            width: 80px;
        }
    }
}

.options {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;

    .nav-item {
        display: flex;
        align-items: center;
        margin-right: 4px;

        a {
            display: block;
            padding: 8px 20px 6px 20px;
            border: 1px solid #e0e0e0;
            border-bottom: none;
            border-radius: 8px 8px 0 0;
            background: #f9f9f9;
            color: #333;
            text-decoration: none;
            transition: background 0.2s, color 0.2s;
            cursor: pointer;

            &:hover,
            &.active {
                background: #fff;
                color: var(--bg-color);
                border-color: #bdbdbd #bdbdbd #fff #bdbdbd;
                z-index: 1;
                position: relative;
            }
        }
    }
}