.scores-list {
    list-style: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    li {
        display: flex;
        align-items: center; // Vertically center items
        gap: 4px;
        padding: 0.5rem;

        .profile-picture {
            margin-right: 0.5rem;
            display: flex;
            align-items: center; // Ensure image is vertically centered
        }

        span {
            font-size: 1.4rem;
            display: flex;
            align-items: center; // Vertically center text if needed
        }
    }
}