.uploader {
    ul {
        li {
            button {
                background: none;
                border: none;
                cursor: pointer;

                &.danger {
                    color: var(--danger-color);
                }

                &.success {
                    color: var(--success-color);
                }
            }
        }
    }
}

.audio-uploader {
    ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 1rem 0;

        li {
            display: flex;
            align-items: flex-start;

            button {
                color: var(--background-color);
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}